<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_CHDTConnectionString" connectionString="Data Source=LAPTOP-96MF1DFE;Initial Catalog=QL_CHDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>